<div class="parent">
  <div class="parent">
    <!-- <select id="dropdown" class= [value]="current">
      <ng-container *ngFor="let item of country">
        <option>{{ item }}</option>
      </ng-container>
    </select> -->
    <div (click)="enter()" (mouseleave)="leave()">
      <div style="border: 1px solid black">
        {{ current ? current : "dropDown" }}
      </div>
      <div *ngIf="isOpen" style="border: 1px solid black">
        <ul *ngFor="let item of country">
          <li class="li" (click)="selected(item)">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-circle></app-circle>
